<div class="park-index-list-item">
  <div class="row" data-equalizer>
    <li>
      <div class="park-info small-4 column" data-equalizer-watch>
        <p>
          <%= link_to "#{trip.origin}-#{trip.destination}", trip_path(trip) %><br>
          <%= trip.meet_point %>
        </p>
      </div>
    </li>
  </div>
</div>
