<div class="park-index-list-item">
  <div class="row" data-equalizer>
    <li>
      <div class="park-info small-4 column" data-equalizer-watch>
        <p>
          <%= link_to "#{trip.origin}-#{trip.destination}", trip_path(trip) %><br>
          <%= link_to "Driver: #{trip.driver.first_name}", user_path(trip.driver) %><br>
          <li>
            Trip rate: $<%= trip.rate %>
          </li>
        </p>
      </div>
    </li>
  </div>
</div>
