<%if @error_message != nil%>
  <h3><%=@error_message%></h3>
<%end%>

<div class="review-title small-8 small-centered column text-center">
  <h1 class="review-title">New Trip Form</h1>
  <%= render "layouts/trip_form" %>
</div>
