$dark-green: #335650; // dark-green
$light-green: #9eae8a; // light-green
$light-brown: #cdbb93 ; //light-brown
$pastel-orange: #fbc599; //  pastel-orange
$light-green: #9eae8a; // light-green
$focus-red: #e41b23;
$bold-grey: #7e7e7e;
$slate-grey: #c7cbce;
$light-grey: #eeeeee;
$fr-green: #50BC4E;
$fr-grey: #646e70;
$fr-black: #404041;
$fr-white: #FFFFFF;
$sc-white: #FFFFFF;
$sc-yellow: #FBF1A4;
$sc-red: #EE3B38;
$sc-green: #50BC4E;
